{% extends "main/base.html" %}
{% block content %}
<h1>Cart</h1>
<h3>Total payment: &euro;{{ total }}</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Ticket ID</th>
            <th scope="col">Title</th>
            <th scope="col">Payment</th>
            <th scope="col">Update amount</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <th scope="col">{{ item.id }}</th>
            <th scope="col">"{{ item.ticket.title }}"</th>

            <th scope="col">{{ item.payment }}</th>>

            <th scope="col">
                <form class="form-inline" method="post" action="{% url 'adjust-cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Payment</label>
                        <div class="input-group">
                            <input name="payment" type="number" min="0" max="999" class="form-control" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary">Update</button>
                    <a href="{% url 'remove-item' item.id %}" class="btn btn-danger">Remove</a>
                </form>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if total > 0 %}
<a class="btn btn-info" href="{% url 'checkout' %}">Checkout</a>
{% endif %}
{% endblock content %}