{% extends "main/base.html" %}
{% block content %}
<h1>Cart</h1>
<h3 class="text-primary">Total payment: &euro;{{ total }}</h3>
<div class="row mt-4 mb-4 font-weight-bold">
    <div class="col-2">Ticket ID</div>
    <div class="col-2">Title</div>
    <div class="col-2">Payment</div>
    <div class="col">Update amount</div>
</div>
<div class="row">
    <div class="col">
        {% for item in cart_items %}

        <div class="row mb-2">
            <div class="col-2"># {{ item.id }}</div>
            <div class="col-2">"{{ item.ticket.title }}"</div>

            <div class="col-2">&euro;{{ item.payment }}</div>

            <div class="col">
                <form class="form-inline" method="post" action="{% url 'adjust-cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Payment</label>
                        <div class="input-group">
                            <input name="payment" type="number" min="0" max="999" class="form-control" placeholder="amount" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary ml-2">Update</button>
                    <a href="{% url 'remove-item' item.id %}" class="btn btn-danger ml-2">Remove</a>
                </form>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% if total > 0 %}
<a class="btn btn-info mt-4" href="{% url 'checkout' %}">Checkout</a>
{% endif %}
{% endblock content %}