body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    padding-bottom: 5rem;
    background-color: rgb(233, 233, 233);
}

.ticket-bg-d {
    background-color: rgb(184, 198, 219);
}

.ticket-bg-l {
    background-color: white;
}

.completed {
    border-left-style: solid;
    border-left-color: green;
    border-left-width: 10px;    
}

.pending {
    border-left-style: solid;
    border-left-color: red;
    border-left-width: 10px;
}

.inprogress {
    border-left-style: solid;
    border-left-color: yellow;
    border-left-width: 10px;
}

.awaiting {
    border-left-style: solid;
    border-left-color: orange;
    border-left-width: 10px;
}

.comment textarea {
    height: 70px;
}

.odd {
    background-color: white;
}

.even {
    background-color: rgb(243, 243, 243);
}

.description {
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 187, 187);
    border-bottom-width: 2px;
}