.ticket-bg {
    background-color: rgb(176, 212, 221);
}

.completed {
    border-left-style: solid;
    border-left-color: green;
    border-left-width: 10px;    
}

.pending {
    border-left-style: solid;
    border-left-color: red;
    border-left-width: 10px;
}

.inprogress {
    border-left-style: solid;
    border-left-color: yellow;
    border-left-width: 10px;
}