{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_js %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script src="{% static 'checkout/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col">
        <h1>Checkout</h1>
        <h2 class="text-primary">Total payment: &euro;{{ total }}</h2>
    </div>
</div>
{% if total > 0 %}
<div class="row mt-4 mb-4 font-weight-bold">
    <div class="col-2">Ticket ID</div>
    <div class="col-2">Title</div>
    <div class="col-2">Payment</div>
    <div class="col">Update amount</div>
</div>
<div class="row">
    <div class="col">
        {% for item in cart_items %}
        <div class="row mb-2">
            <div class="col-2"># {{ item.id }}</div>
            <div class="col-2">"{{ item.ticket.title }}"</div>

            <div class="col-2">&euro;{{ item.payment }}</div>
        </div>

        {% endfor %}
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <form method="POST" id="payment-form" action="{% url 'checkout' %}">
            {% csrf_token %}
            <h2 class="font-weight-bold">Payment Details</h2>

            <div id="credit-card-errors" style="display: none;">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>

            <div class="form-group col-md-6">
                {{ order_form|crispy }}
                {{ payment_form|crispy }}
            </div>
            <div class="form-group col-md-12">
                <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit"
                    value="Submit Payment">
            </div>
        </form>
    </div>
</div>
{% else %}
<span>The cart is empty!</span>
{% endif %}
{% endblock %}