{% url 'ticket-create' as new_ticket_url %}
{% url 'cart' as cart %}
{% url 'message-create' as message_create %}
{% url 'main-about' as help %}
{% url 'register' as register %}
{% url 'dashboard' as dashboard %}
{% url 'login' as login %}
{% url 'main-home' as main_home %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issuetrack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    {% block head_js %}
    {% endblock head_js %}
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3e71ac;">
                <div class="container">
                    <a class="navbar-brand mr-4 {% if request.path == main_home %} active {% endif %}"
                        href="{% url 'main-home'%}">Issuetrack</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link {% if request.path == new_ticket_url %} active {% endif %}"
                                href="{% url 'ticket-create' %}">New Ticket</a>
                            <a class="nav-item nav-link {% if request.path == cart %} active {% endif %}"
                                href="{% url 'cart' %}">Cart</a>
                            <a class="nav-item nav-link {% if request.path == message_create %} active {% endif %}"
                                href="{% url 'message-create' %}">Contact</a>
                            <a class="nav-item nav-link {% if request.path == help %} active {% endif %}"
                                href="{% url 'main-about' %}">Help</a>
                        </div>
                        <div class="navbar-nav">
                            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET" novalidate>
                                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search ticket"
                                    aria-label="Search">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                            </form>
                            <!-- display login, register, logout, depending if the user is authenticated -->
                            {% if user.is_authenticated %}
                            <a class="nav-item nav-link {% if request.path == dashboard %} active {% endif %}"
                                href="{% url 'dashboard' %}">{{user.username}} Dashboard</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>

                            {% else %}
                            <a class="nav-item nav-link {% if request.path == login %} active {% endif %}"
                                href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link {% if request.path == register %} active {% endif %}"
                                href="{% url 'register' %}">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
            <main class="container">
                <div class="row">
                    <div class="col">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer">
            <div class="row justify-content-center ">
                <div class="col-12 text-center">
                    <h5>Rafocus</h5>
                    <p>Copyright &copy; 2019</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>