{% extends 'main/base.html' %}
{% block content %}
{% for ticket in tickets %}
<div class="media m-4">
    <img src="https://dummyimage.com/50'" class="mr-3" alt="...">
    <div class="media-body">
        <a class="text-muted" href="#">view all tickets by {{ ticket.author }}</a>
        <p>{{ ticket.author}} on {{ ticket.date }}</p>
        <p class="text-muted">{{ ticket.date }}</p>
        <h5 class="mt-0">{{ ticket.title }}</h5>
        {{ ticket.description }}
    </div>
    <a href="#" class="btn btn-outline-secondary m-4">Details</a>
</div>
{% endfor %}
{% endblock content %}