{% extends 'main/base.html' %}
{% block content %}
<div class="media m-4 p-2">
    <div class="media-body">
        <div class="
        {% if object.status == 'In progress' %}
        inprogress
        {% elif object.status == 'Completed' %}
        completed
        {% else %}
        pending
        {% endif %}
        ">
        <h5 class="mt-0">{{ object.title }}</h5>
        <span>Created by {{ object.author}} on {{ object.date }}</span>
        <span><a class="text-muted" href="#">view all tickets by {{ object.author }}</a></span>
        <span class="bg-secondary text-white float-right p-1">Status: {{ object.status }}</span>
        </div>
        <hr>
        {{ object.description|linebreaks }}
        <hr>
        <div>
            {% if object.author == user %}
            <a class="btn btn-secondary btn-sm" href="{% url 'ticket-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm" href="{% url 'ticket-delete' object.id %}">Delete</a>
            {% endif %}
            {% if user not in object.votes.all %}
            <a class="btn btn-secondary btn-sm" href="{% url 'vote' object.id %}">Vote</a>
            {% else %}
            <a class="btn btn-secondary btn-sm" href="{% url 'vote' object.id %}">Cancel Vote</a>
            {% endif %}
            <span class="btn btn-secondary btn-sm float-right">Number of votes: {{ object.votes.count }}</span>
        </div>
        <div>
            {% if object.ticket_type == 'Feature' %}
            <form method="post" action="{% url 'add-to-cart' object.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="payment" type="number" min="5" max="999" class="form-control" placeholder="payment" required>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<form action="" method="POST">
     {% csrf_token %}
     {{ comment_form }}
     <div>
        <button class='btn btn-outline-info' type="submit">Comment</button>
     </div>
</form>
{% if comments %}
<div>
    {% for comment in comments %}
    <div>
        {{ comment.content }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}