{% extends 'main/base.html' %}
{% block content %}
<div class="mt-4">
  <span>Status:</span>
  <span class="completed pl-1">Completed</span>
  <span class="inprogress pl-1">In progress</span>
  <span class="pending pl-1">Pending</span>
  <span class="awaiting pl-1">Awaiting quote</span>
</div>
<form class="form-inline mt-4" methog="GET" action="{% url 'main-home' %}">

  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Type:</label>
  <select class="custom-select my-1 mr-sm-2" name="qa" id="inlineFormCustomSelectPref">
    <option selected value="all">All</option>
    <option value="Bug">Bug</option>
    <option value="Feature">Feature</option>
  </select>

  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Status:</label>
  <select class="custom-select my-1 mr-sm-2" name="qb" id="inlineFormCustomSelectPref">
    <option selected value="all">All</option>
    <option value="Pending">Pending</option>
    <option value="In progress">In progress</option>
    <option value="Completed">Completed</option>
  </select>

  <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>

<h1 class="mt-4">Results ({{ page_obj.paginator.count }})</h1>
{% for object in object_list %}
<section>
<div class="row mt-4 ticket-bg-d">
  <div class="col-md-4 pt-2 pb-2
  {% if object.ticket_type == 'Feature' and object.funding_target == 0.00 %}
    awaiting
    {% else %}
        {% if object.status == 'In progress' %}
        inprogress
        {% elif object.status == 'Completed' %}
        completed
        {% else %}
        pending
        {% endif %}
    {% endif %}
  ">
  <span class="text-muted">Ticket #{{ object.id }} |</span>
  <span class="text-primary">
    {% if object.ticket_type == 'Feature' %}F{% endif %}
    {% if object.ticket_type == 'Bug' %}B{% endif %}
  </span>
  </div>
  <div class="col-md-4 pt-2 pb-2"><h2 class="mt-0 font-weight-bold">{{ object.title }}</h2></div>
  <div class="col-md-4 pt-2 pb-2"><span>Created by <span class="text-muted">{{ object.author}}</span> on {{ object.date|date }}</span></div>
</div>
<div class="row justify-content-around ticket-bg-l pt-2 pb-2">
  <div class="col-md-8 description pt-2 pb-2">
      <h3 class="font-weight-bold">Description</h3>
      {{ object.description|truncatewords:25 }}
  </div>
  <div class="col-md-2 pt-2 pb-2">
      <a class="btn btn-outline-primary small" href="{% url 'ticket-detail' object.id %}">Open</a>
  </div>
</div>
<div class="row ticket-bg-l">
  <div class="col-md-4 pt-2 pb-2">
      <span>({{ object.num_comments }}) comments</span>
      <span class="ml-4">({{ object.votes.count }}) votes</span>
  </div>
</div>
</section>
{% endfor %}
{% if is_paginated %}
<div class="mt-4">
  {% if page_obj.has_previous %}
  <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}
  <a class="btn btn-primary mb-4" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
  {% if page_obj.has_next %}
  <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>
{% endif %}
{% endblock content %}